$color-primary: #2584ff;
$color-secondary: #00d9ff;
$color-accent: #ff3400;

$color-headings: #1b0760;
$color-body: #918ca4;
$color-body-darker: #5c5577;

$color-border: #ccc;
$border-radius: 30px;

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Inter, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

::selection {
  background: $color-primary;
  color: #fff;
}

::placeholder {
  color: #cdcbd7;
}

body {
  color: $color-body;
  overflow: auto;
}

h1,
h2,
h3 {
  color: $color-headings;
  line-height: 1.1;
  margin-bottom: 10px;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
  font-weight: 500;
}

p {
  margin-top: 0;
}

ul {
  list-style: none;
}

// links
a {
  text-decoration: none;
  color: inherit;
}

// buttons
button {
  border-radius: 40px;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
  padding: 20px 4vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

button:focus {
  outline: none;
}
